h1{
    text-align: center;
    color: blue;
    font-style: italic;
    background-color: yellow;
}

td{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 2px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #6d0808;
    background: rgb(111,207,190);
    background: linear-gradient(90deg, rgba(111,207,190,1) 7%, rgba(45,159,187,1) 48%, rgba(0,255,104,1) 83%);
    backdrop-filter: blur(20px);
}

